@font-face {
    font-family: 'BMHANNAPro';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BMHANNAAir';
}

html {
    overflow-x: hidden;
}

body {
    line-height: 1;
    background: #f1f1f1;
}

a {
    text-decoration: none;
    color: #333;
}

p {
    word-break: keep-all;
}


ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

header {
    z-index: 3;
    position: relative;
}

main {
    z-index: 2;
    position: relative;
}

footer {
    z-index: 1;
    position: relative;
}